.intro__subtitle {
  font-size: 24px;
  line-height: 1.41;
  /* or 142% */
  color: #FFFFFF;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .intro__subtitle {
    font-size: 24px;
    line-height: 1.25;
  }
}